@import './vars';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
  @media screen and (max-width: calc($container-width + 2 * $container-padding)) {
    max-width: 768px;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
  padding: 2.5rem 0;
}

.select {
  color: $black;
  padding: 0.5rem 1rem;

  border: 1px solid $black;
  border-radius: 0.5rem;
  font-size: 1rem;

  min-width: 14rem;
  background-color: transparent;
}
