@import '../../scss/app/vars';

.number {
  display: inline-flex;
  align-items: center;
  border: 1px solid $black;
  border-radius: 0.5rem;
  width: 10rem;
  &__button {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    font-size: 1rem;
  }
  &__input {
    background: none;
    border: none;
    padding: 0.5rem;
    outline: none;
    width: 1px;
    flex: 1;
    text-align: center;
    font-size: 1rem;
  }
}
