.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.125rem;
  text-decoration: none;
  &_filled {
    background: $black;
    color: $white;
  }
  &_outlined {
    background: none;
    border: 1px solid $black;
    color: $black;
  }
}
