.cart {
  &__empty {
    padding: 10rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    h4 {
      font-size: 1.5rem;
      font-weight: normal;
    }
    &-btn {
      min-width: 14rem;
    }
  }
}
.cart-item {
  padding: 1rem 0;
  display: flex;
  gap: 20px;
  &__image {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // flex: 1;
    justify-content: center;
    &_row {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    &_lg {
      flex: 1;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__price {
  }
  &__remove {
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  @media screen and (max-width: 767.98px) {
    &__input {
      max-width: 8rem;
    }
    &__image {
      width: 6rem;
      height: 6rem;
    }
  }
  @media screen and (max-width: 550px) {
    &__input {
      max-width: 6rem;
      button {
        padding: 0.25rem 0.5rem;
      }
      input {
        padding: 0.25rem 0.5rem;
      }
    }
    &__image {
      width: 5rem;
      height: 5rem;
    }
  }
  @media screen and (max-width: 450px) {
    gap: 0.5rem;
    &__image {
      width: 4rem;
      height: 4rem;
    }
    &__title {
      font-size: 1rem;
    }
  }
}
