.cart {
  &__list {
    margin-top: 24px;
  }
  &__empty {
    padding: 10rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__old-price {
    margin-left: 4px;
    font-size: 16px;
    color: rgba($black, 0.6);
    text-decoration: line-through;
  }
  &__total-top {
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 1.5rem;
      font-weight: normal;
      display: inline-flex;
      align-items: flex-start;
    }
  }
  &__total {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    float: right;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
    &-btn {
      min-width: 14rem;
      width: 100%;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    label {
      font-size: 1.25rem;
    }
  }
  &__input {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    background: none;
    font-size: 1rem;
    color: #000;
    border-radius: 0.5rem;
    flex: 1 1;
    min-width: 0;
    width: 100%;
    &_error {
      border-color: #dd2525;
    }
  }
}
.cart-method {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
  }
  &__row {
    display: flex;
    gap: 0.5rem;
  }
  &__item {
    cursor: pointer;
    max-width: 50%;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $black;
    font-size: 13px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    &_active {
      opacity: 1;
    }
  }
}
