.product {
  &__container {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  &__title {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  &__price {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  &__buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 767.98px) {
      // flex-direction: column;
    }
  }
  &__button {
    flex: 1;
  }
  &__description {
    color: $gray;
    white-space: pre-line;
  }
}
.product-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
  }
  &__root {
    height: 460px;
    @media screen and (max-width: 450px) {
      height: 100vw;
    }
  }
  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__img {
    width: calc(50% - 10px);
    height: 220px;
    @media screen and (max-width: 450px) {
      height: calc(50vw - 10px);
    }
  }
}
