.search {
  height: 1.5rem;
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: $black;
  }
  &__body {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: 0 1rem 5rem rgba(#000, 0.15);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    &_active {
      transform: translateY(0);
      opacity: 1;
    }
    width: 100%;
  }
  &__container {
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: 550px) {
      padding: 4rem $container-padding;
    }
  }
  &__close {
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $black;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__input {
    border-radius: 0.5rem;
    border: 1px solid $black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    width: 100%;
  }
}
