.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: $black;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &_5 {
      grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
